@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.words-break {
  word-break: break-word;
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 217, 91%, 60%;
    --primary-foreground: 217, 91%, 60%;

    --secondary: 210, 40%, 98%;

    --border: 0, 0%, 90%;

    --input: 210, 40%, 98%;

    --modal: 0, 0%, 100%;

    --destructive-foreground: 0, 72%, 51%;

    --hover: 210, 40%, 97%;

    --message-primary: 214, 95%, 93%;
    --message-secondary: 210, 40%, 96%;

    --muted-foreground: 0, 0%, 0%;

    --popover: 0, 0%, 100%;
  }
  .dark {
    --background: 0, 0%, 5%;
    --foreground: 222.2 84% 4.9%;

    --primary: 239, 84%, 67%;
    --primary-foreground: 239, 84%, 67%;

    --secondary: 0, 0%, 6%;

    --border: 0, 0%, 21%;

    --input: 0, 0%, 9%;

    --destructive-foreground: 0, 72%, 51%;

    --modal: 0, 0%, 4%;

    --hover: 217, 33%, 17%;

    --message-primary: 239, 84%, 67%;
    --message-secondary: 0, 0%, 15%;

    --muted-foreground: 216, 12%, 84%;

    --popover: 0, 0%, 4%;
  }
}