@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.words-break {
  word-break: break-word;
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 222.2 84% 4.9%;
    --secondary: 210, 40%, 98%;
    --primary: 217, 91%, 60%;
    --primary-foreground: 217, 91%, 60%;
    --border: 0, 0%, 90%;
    --input: 210, 40%, 98%;
    --modal: 0, 0%, 100%;
    --destructive-foreground: 0, 72%, 51%;
    --hover: 210, 40%, 97%;
    --message-primary: 214, 95%, 93%;
    --message-secondary: 210, 40%, 96%;
    --muted: 210, 40%, 98%;
    --popover: 0, 0%, 100%;
  }
  .dark {
    --background: 0, 0%, 5%;
    --foreground: 222.2 84% 4.9%;
    --secondary: 0, 0%, 6%;
    --primary: 239, 84%, 67%;
    --primary-foreground: 239, 84%, 67%;
    --border: 0, 0%, 21%;
    --input: 0, 0%, 9%;
    --destructive-foreground: 0, 72%, 51%;
    --modal: 0, 0%, 4%;
    --hover: 217, 33%, 17%;
    --message-primary: 239, 84%, 67%;
    --message-secondary: 0, 0%, 15%;
    --muted: 0, 0%, 50%;
    --popover: 0, 0%, 4%;
  }
}
